html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    background: rgb(219, 219, 219);
}

.inner-page {
    width: 8in;
    height: 10.5in;
    margin: auto;
    padding: 32px 32px 20px 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.out-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: "out-info-section out-experience-section out-experience-section" "out-info-section out-experience-section out-experience-section";
}
  
.out-info-section { grid-area: out-info-section; }
  
.out-experience-section { grid-area: out-experience-section; }

.in-left-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1px 1px;
    grid-template-areas: "in-left-profile . . ." "in-left-social . . ." "in-left-skills . . .";
}
  
.in-left-profile {
    margin: 10px 20px 10px 20px;
    padding-top: 15px;
    text-align: center;
    border-top: 3px solid rgb(0, 187, 162);
    border-bottom: 3px solid rgb(0, 187, 162);
    grid-area: in-left-profile;
    
}
  
.in-left-social {
    margin: 5px 20px 10px 20px;
    text-align: center;
    border-bottom: 3px solid rgb(0, 187, 162);
    grid-area: in-left-social;
}
  
.in-left-skills {
    margin: 10px 20px 0 20px;
    border-bottom: 3px solid rgb(0, 187, 162);
    grid-area: in-left-skills;
}

.in-right-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1px 1px;
    grid-template-areas: "in-right-experience" "in-right-education";
}
  
.in-right-experience {
    margin: 10px 20px 10px 20px;
    border-top: 3px solid rgb(0, 187, 162);
    border-bottom: 3px solid rgb(0, 187, 162);
    grid-area: in-right-experience;
}
  
.in-right-education {
    border-bottom: 3px solid rgb(0, 187, 162);
    grid-area: in-right-education;
}

.job {
    line-height: 1.1
    margin-left: 5px;
    margin-top: 5px;
}

.job-title {
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.job-date {
    text-align: left;
    font-size: 14px;
}

.job-description {
    line-height: 1.3;
    font-size: 8px;
    text-align: left;
}

.social-link {
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 22px;
}

h2 {
    text-align: center;
    font-size: 18px;
}

p {
    color: #ababab;
}

a {
    color: #0e0088;
    text-decoration: none;
}
  
a:hover {
    color: #00bba2;
}