html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: auto;
    font-family: 'Nunito', sans-serif;
    line-height: 1.3;
    background: rgb(219, 219, 219);
}

.inner-page {
    width: 8in;
    height: 10.5in;
    margin: auto;
    padding: 24px 32px 20px 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.out-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: "out-info-section out-experience-section out-experience-section" "out-info-section out-experience-section out-experience-section";
}
  
.out-info-section { grid-area: out-info-section; }
  
.out-experience-section { grid-area: out-experience-section; }

.in-left-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1px 1px;
    grid-template-areas: "in-left-profile . . ." "in-left-social . . ." "in-left-skills . . ." "in-left-hobbies . . .";
}
  
.in-left-profile {
    margin: 10px 20px 10px 20px;
    padding-top: 15px;
    text-align: center;
    border-top: 2px solid rgb(0, 187, 162);
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-left-profile;
    
}

.headshot {
    width: 125px;
    -webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.headshot:hover {
    width: 135px;
}

.name {
    font-size: 25px;
    text-shadow: 1px 1px 1px #00000049;
    margin-top: 3px;
    margin-bottom: 3px;
}
  
.in-left-social {
    line-height: 0.7;
    margin: 5px 20px 0px 20px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-left-social;
}
  
.in-left-skills {
    font-size: 14px;
    margin: 5px 20px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-left-skills;
}

@keyframes load{
    from {
      width: 0%
    }
}

@-webkit-keyframes load{
    from {
      width: 0%
    }
}

@-moz-keyframes load{
    from {
      width: 0%
    }
}

@-o-keyframes load{
    from {
      width: 0%
    }
}

.skill-bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFFFFF;
    -webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.skill-bar:hover {
    border-radius: 30px;
    font-size: 16px;
}

.skill-bar::before {
    content: attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 1.5px 5px 2px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}
  
.skill-bar.front::before {
    background-color: #ffcc33;
}

.skill-bar.back::before {
    background-color: rgba(0, 187, 162, 0.432);
}

.skill-bar.intermediate::before {
    width: calc(75% - 10px);
}

.skill-bar.advanced::before {
    width: calc(90% - 10px);
}

.skill-bar.expert::before {
    width: calc(100% - 10px);
}

.in-left-hobbies {
    font-size: 14px;
    margin: 5px 20px 0 20px;
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-left-hobbies;
}

.in-right-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "in-right-experience" "in-right-education";
}
  
.in-right-experience {
    margin: 10px 20px 0px 20px;
    border-top: 2px solid rgb(0, 187, 162);
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-right-experience;
}
  
.in-right-education {
    margin: 0px 20px 0px 20px;
    border-bottom: 2px solid rgb(0, 187, 162);
    grid-area: in-right-education;
}

.job {
    line-height: 1.25;
    margin-left: 5px;
    margin-top: 5px;
}

.job-title {
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.job-date-location {
    line-height: 0.8;
    text-align: left;
    font-size: 14px;
}

.job-description, li {
    line-height: 1.3;
    font-size: 13px;
    text-align: left;
}

.social-link {
    font-size: 14px;
}

.program-info {
    text-align: left;
    font-size: 15px;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 18px;
}

p {
    color: #ababab;
}

a {
    -webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
    color: #100197;
    text-decoration: none;
}

.inconspicuous {
    color: black;
    transition: none;
}
  
a:hover {
    color: #00bba2;
}